---
// @ts-expect-error
import { site } from "../data.yaml";

interface Section {
  title: string;
  img: string;
  paragraphs: string[];
}

interface Cta {
  text: string;
  href: string;
}

interface Props {
  sections?: Section[];
  cta?: Cta;
}

const { sections = site.sections as Section[], cta = site.cta as Cta } =
  Astro.props;
---

<div
  class="pb-5 bg-neutral text-neutral-content content-center py-16 mx-auto md:p-10 md:pb-5"
>
  <a href="#features"
    ><h1
      id="features"
      class="text-4xl antialiased font-semibold leading-none text-center mb-14"
    >
      {site.sections_header}
    </h1></a
  >
  <div
    class="flex flex-row flex-wrap content-center justify-center xl:px-48 lg:mb-12 lg:mt-24"
  >
    {
      sections.map(({ title, img, paragraphs }) => (
        <div class="flex justify-center p-8 my-0 max-md:p-2 max-md:mt-8 lg:basis-1/2 grow">
          <div class="flex flex-col rounded-lg bg-base-100 shadow-lg">
            <div class="flex flex-row justify-between items-center rounded-lg bg-base-100 mb-4">
              <img
                src={img}
                class="w-full h-72 max-xl:h-48 object-cover object-[30%_30%] rounded-t-lg"
                alt="Feature Image"
              />
            </div>
            <div class="flex flex-row justify-between px-8">
              <h5 class="text-gray-900 text-2xl font-bold mb-2 text-left">
                {title}
              </h5>
            </div>
            <div class="flex flex-col justify-between h-full px-8 pb-8">
              {paragraphs.map((par) => (
                <p class="text-gray-700 text-base mb-4" set:html={`${par}`} />
              ))}

              <a class="place-self-end w-[100%]" href={cta.href}>
                <div
                  class="btn btn-accent text-accent-content w-[100%]"
                  set:html={`${cta.text}`}
                />
              </a>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>
