---
import Divider from "./Divider.astro";
interface Props {
  title: string;
  short: string;
  cta_text: string;
  cta_href?: string;
  image?: string;
}

const {
  title = "Title",
  short = "short description",
  cta_text = "cta text",
  cta_href = "#contact",
  image = "hero_combined_v7.jpg",
} = Astro.props;
---

<div class="min-h-[80vh] h-[80vh] bg-cover bg-center bg-no-repeat max-md:h-[92vh]" style={`background-image: url(${image})`}>
  <div class="flex flex-col justify-between items-center h-full bg-[#111d23]/60"> <!-- 1a2c35 -->
    <slot name="top">
      
    </slot>
    <div class="text-neutral-content h-full p-4">
      <div class="flex flex-col justify-center text-center max-w-4xl h-full">
        <h1 class="font-manrope mb-2 text-3xl font-extrabold text-neutral max-md:text-xl max-md:mb-0" set:html={title}></h1>
        <p class="font-manrope mb-16 text-neutral font-[450] text-justify tracking-tight text-lg max-md:text-base max-md:mb-8 mt-2" set:html={short}></p>
        <a href={cta_href} class="inline-block"><button class="btn btn-accent btnManagement-block normal-case text-accent-content text-lg px-24 max-md:text-sm w-full">{cta_text}</button></a>
      </div>
    </div>
    <slot name="bottom">

    </slot>
  </div>
</div>
